Flask==3.0.0
mysql-connector-python==8.1.0
flask-cors
gunicorn==21.2.0
psycopg2
psycopg2-binary
redis
flask-caching
requests
flask-socketio
flask-login
flask-session
flask-sse
eventlet
gevent
gevent-websocket
openai
deepai
fuzzywuzzy
Levenshtein
regex