Flask==3.0.0
flask-cors==5.0.0
flask-caching==2.3.0
flask-login==0.6.3
flask-session==0.8.0
flask-socketio==5.5.1
flask-sse==1.0.0
gunicorn==21.2.0
mysql-connector-python==8.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
redis==5.2.1
requests==2.32.3
eventlet==0.39.0
gevent==24.11.1
gevent-websocket==0.10.1
openai==1.63.2
deepai==1.0.1
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.1
regex==2024.11.6
pycryptodome==3.21.0
google-genai==1.2.0
better-profanity==0.7.0
profanity-check==1.0.3  # Add this manually, version isn't in pip list but required
cryptography
apscheduler