@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

img {
    image-rendering: pixelated;
}

.flash-message {
    max-width: 390px;
    height: 49px;
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
    gap: 1rem;
    padding: 0;
    z-index: 1000;
    font-size: 1.5rem;
}

.flash-message i {
    font-size: 2rem;
}

.fade-out {
    animation: fadeSlideOut 0.8s backwards;
}

.flash-message.success {
    background-color: #bcf3be;
    border-radius: 0.4rem;
    color: #1a5f1b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-message.warning {
    background-color: #f1d19a;
    border-radius: 0.4rem;
    color: #aa6d04;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-message.error {
    background-color: #f5c4c4;
    border-radius: 0.4rem;
    color: #a40000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-message.delete-success {
    background-color: #f5c4c4;
    border-radius: 0.4rem;
    color: #a40000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-message.info {
    background-color: #c5daf2;
    border-radius: 0.4rem;
    color: #074a91;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadeSlideOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.logo {
    max-width: 250px;
    height: auto;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Centering register container */

.big-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.register_container {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.register_container .title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: var(--first-color);
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 35px;
}

.password-container i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.input-box {
  margin-bottom: 15px;
  width: calc(50% - 10px);
}

.input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1.6rem;
}

.input-box input,
.input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1.6rem;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box select:focus {
  border-color: var(--first-color);
}

.input-box select {
  appearance: none;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%231e3c72' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e") no-repeat right 12px center;
  background-size: 16px;
}

select:disabled,
select option:disabled {
  color: #ccc;
}

select:disabled {
  color: #ccc;
}

.email {
  width: 100%;
  display: flex;
  justify-content: center;
}

.email .input-box {
  width: 100%;
}

.button {
  height: 45px;
  margin: 35px 0;
  gap: 2rem;
}

.button input,
.buttontologin {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: var(--first-color);
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttontologin 
{
  display: none;
}
.button input:hover {
  background: #633877;
}

.error-message {
  color: #ff3860;
  font-size: 12px;
  margin-top: 5px;
}

.error-message {
  color: #ff3860;
  font-size: 12px;
  margin-top: 5px;
}

.input-box.error input,
.input-box.error select {
  border-color: #ff3860;
}

.input-box.success input,
.input-box.success select {
  border-color: #09c372;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 35px;
}

.password-container i {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.input-box.error input,
.input-box.error select {
  border-color: #ff3860;
}

.input-box.success input,
.input-box.success select {
  border-color: #09c372;
}

@media (max-width: 790px)
{
  .container
  {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  }
}
@media (max-width: 584px) {
  .register_container {
    max-width: 100%;
  }
  
  .input-box {
    width: 100%;
  }

  .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  /* Custom Scrollbar */
  .user-details::-webkit-scrollbar {
    width: 4px;  /* Thinner scrollbar */
  }

  .user-details::-webkit-scrollbar-thumb {
    background-color: var(--first-color);
    border-radius: 10px; /* Round the edges of the scrollbar thumb */
  }

  .user-details::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Slightly darker when hovered */
  }

  .user-details::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light background for the track */
    border-radius: 10px; /* Round the track edges */
    margin: 2px;
  }

  .user-details::-webkit-scrollbar-track-piece {
    background: #f1f1f1; /* Track background */
  }
}

@media (max-width: 459px) {
  .register_container .content .category {
    flex-direction: column;
  }
}

@media(max-width: 397px)
{
  .flash-message{
    max-width: 300px;
    font-size: var(--normal-font-size);
  }
  .flash-message i
  {
    font-size:var(--normal-font-size);
  }
  .login-message
  {
    display: none;
  }
  .buttontologin 
  {
    display: block;
    margin-top: 1rem;
    background: #ccc;
    color: #333;
    font-size: var(--normal-font-size);
  }
  .button input 
  {
    font-size: var(--normal-font-size);
  }
  .login__link
  {
    display: none;
  }

}


@media(max-width: 320px)
{
  .flash-message{
    max-width: 290px;
  }
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }
  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  form .category {
    width: 100%;
  }
  .content form .user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 4px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(273, 77%, 65%);
  --first-color-alt: hsl(295, 56%, 52%);
  --title-color: hsl(220, 68%, 4%);
  --white-color: hsl(0, 0%, 100%);
  --text-color: hsl(220, 15%, 66%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(220, 50%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", system-ui;
  --big-font-size: 1.5rem;
  --normal-font-size: 1.4rem;
  --small-font-size: 1.2rem;
  --tiny-font-size: 1.1rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --big-font-size: 3rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.3rem;
    --tiny-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}




/* Container Layout */
.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* Left Side - Login */
.login__access {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/* Right Side - Logo & System Title */
.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color);
  color: white;
  text-align: center;
  padding: 2rem;
}

/* System Title */
.system-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* Login Form */
.login__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--first-color);
}

.login__area {
  width: 100%;
  max-width: 400px;
}

.login__box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 1rem;
  margin-top: 2rem;
}

.login__icon {
  position: absolute;
  right: 1rem;
  font-size: 2rem;
  transition: color 0.4s;
  cursor: pointer;
}

.login__input {
  width: 100%;
  padding: 1.5rem;
  border: 3px solid transparent;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  transition: border-color 0.4s, background-color 0.4s; /* Add background-color transition */
}

.login__input::placeholder {
  color: #868686; /* Default placeholder color */

}

/* Input Focus Effects */
.login__input:focus {
  border-color: var(--first-color);
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent background on focus */
}


/* Login Button */
.login__button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: var(--first-color);
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  padding-block: 1.5rem;
  border-radius: 4rem;
  margin-block: 2rem;
  cursor: pointer;
  transition: background-color 0.4s, box-shadow 0.4s;
}

.login__button:hover {
  background-color: var(--first-color-alt);
  box-shadow: 0 8px 24px hsla(208, 92%, 32%, 0.3);
}

/* Forgot Password Link */
.login__forgot {
  display: block;
  width: max-content;
  margin: 1rem 0 0 auto;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color);
  transition: color 0.4s;
}

.login__forgot:hover {
  color: var(--first-color);
}

/* Register Link */
.actions
{
  font-size: var(--normal-font-size)
}
.actions .login__link 
{
  color: var(--first-color);
  font-weight: bold;
  text-decoration: none;
  font-size: var(--normal-font-size);
}
.actions .login__link:hover
{
  text-decoration: underline;
}
.login__register-link {
  color: var(--first-color);
  font-weight: bold;
  text-decoration: none;
  font-size: var(--normal-font-size);
}

.login__register-link:hover {
  text-decoration: underline;
}


/* Switch between login/register */
.login__switch {
  text-align: center;
  font-size: var(--normal-font-size);
}

.login__switch button {
  background: none;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  transition: color 0.4s;
}
.logo-mobile
{
  display: none;
}
:root {
  --first-color-dark: hsl(273, 77%, 55%); /* Dark Purple */
  --background-color: #f8f9fa; /* Light Grayish Background */
  --sidebar-color: hsl(273, 77%, 55%); /* Dark Sidebar */
  --sidebar-text-color: #ffffff; /* White Text */
  --card-background: #fff; /* White Card Background */
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light Shadow */
}

.dashboard-wrapper {
  display: flex;
  position: relative;
}
.sidebar {
  width: 300px;
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
  border-right: 1px solid var(--first-color);
  padding: 20px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1000;
}

.sidebar-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--sidebar-text-color);
}

.profile-section {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.profile-info h3 {
  font-size: 18px;
  margin: 0;
}

.sidebar-links a {
  display: flex;
  align-items: center;
  color: var(--sidebar-text-color);
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
  background-color: var(--first-color);
}

.sidebar-links a i {
  margin-right: 10px;
}

.sidebar-links a span {
  display: inline;
}

.button-container {
  margin-top: 2rem;
}

/* Main Content Styles */
.dashboard-container {
  flex: 1;
  padding: 20px;
  background-color: var(--card-background);
  margin-left: 300px;
  transition: margin-left 0.3s ease;
}


@media (max-width: 768px) {
  .sidebar {
    width: 60px;
    padding: 10px;
  }

  .profile-image img {
    display: none !important;
  }
  .logout-text {
    display: none;
  }
  .btn-danger i {
    margin-right: 0;
  }

  
  .sidebar-toggle {
    display: block;
  }

  .profile-info,
  .sidebar-links a span {
    display: none;
  }

  .sidebar.expanded {
    width: 300px;
  }

  .sidebar.expanded .profile-info,
  .sidebar.expanded .sidebar-links a span {
    display: inline;
  }

  .dashboard-container {
    margin-left: 60px;
  }

  .sidebar.expanded + .dashboard-container {
    margin-left: 300px;
  }
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
/* Profile Section Styles */
.profile-container {
  max-width: 800px;
  margin: 0 auto;
}

.profile-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detail-row {
  display: flex;
  gap: 15px;
}

.detail-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.detail-item label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.detail-item input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.detail-item input:focus {
  border-color: var(--first-color);
  outline: none;
}

button {
  background-color: var(--first-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--first-color-dark);
}

.sit-in-rules-section {
  margin: 20px 0;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sit-in-rules-section h3 {
  margin-bottom: 10px;
  color: var(--text-color);
}

.sit-in-rules-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.sit-in-rules-section li {
  margin-bottom: 8px;
  color: var(--text-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .detail-row {
    flex-direction: column;
    gap: 10px;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
  }

  .profile-container {
    padding: 10px;
  }
}


.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
}

.sidebar-links a {
  color: var(--sidebar-text-color);
  text-decoration: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  background-color: var(--first-color);
  color: #fff;
}

/* Dashboard Container Styles */
.dashboard-container {
  flex: 1;
  padding: 20px;
  background-color: var(--card-background);
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.welcome-message h1 {
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 16px;
  color: #666;
}

.button-container .btn-danger {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button-container .btn-danger:hover {
  background-color: #696969;
}

/* Lab Rules Section Styles */
.rules-container {
  background-color: #fff;
  padding: 25px;
  width: 1000px; /* Fixed width */
  height: 80vh; /* Fixed height */
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto; /* Make the container scrollable vertically */
}

.rules-header {
  text-align: center;
  margin-bottom: 25px;
}

.rules-header h2 {
  font-size: 28px;
  color: #2c3e50; /* Dark blue for emphasis */
  margin-bottom: 10px;
  font-weight: 600; /* Bold heading */
}

.rules-header h3 {
  font-size: 20px;
  color: #666;
  font-weight: 500; /* Semi-bold subheading */
}

.rules-content {
  font-size: 16px;
  color: #333;
  line-height: 1.8; /* Improved line height for readability */
  padding: 10px; /* Add padding to the content */
}

.rules-content p {
  margin-bottom: 20px;
  color: #444; /* Slightly darker text for better readability */
}

.rules-list {
  margin-bottom: 20px;
  padding-left: 20px; /* Add padding to the list */
}

.rules-list li {
  margin-bottom: 15px; /* Increase spacing between list items */
  color: #444; /* Slightly darker text for better readability */
}

.rules-list ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}

.disciplinary-action {
  margin-top: 25px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  border: 1px solid #e0e0e0; /* Add a subtle border */
}

.disciplinary-action h3 {
  font-size: 20px;
  color: #2c3e50; /* Dark blue for emphasis */
  margin-bottom: 15px;
  font-weight: 600; /* Bold heading */
}

.disciplinary-action p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .rules-container {
    width: 90%; /* Adjust width for smaller screens */
    padding: 15px;
  }

  .rules-header h2 {
    font-size: 24px;
  }

  .rules-header h3 {
    font-size: 18px;
  }

  .rules-content {
    font-size: 14px;
  }
}
/* Laboratories Section */
.laboratories-section h2 {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.laboratory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.laboratory-card {
  background-color: var(--first-color);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.laboratory-card:hover {
  transform: translateY(-5px);
  background-color: var(--first-color-dark);
}

.laboratory-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.laboratory-card p {
  font-size: 14px;
}

/* Profile Section Styles */
.profile-container {
  max-width: 800px;
  padding: 20px;
}

.profile-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.profile-header {
  text-align: center;
  padding: 30px 20px;
  background: var(--first-color);
  color: #fff;
}

.profile-picture {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-picture:hover img {
  transform: scale(1.1);
}

.edit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.profile-picture:hover .edit-overlay {
  opacity: 1;
}

.edit-overlay i {
  color: #fff;
  font-size: 24px;
}

.profile-details {
  padding: 30px;
}

.detail-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.detail-item {
  flex: 1;
}

.detail-item label {
  display: block;
  font-weight: bold;
  color: #555;
  margin-bottom: 5px;
}

.detail-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.detail-item input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.3);
  outline: none;
}

.detail-item input[readonly] {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.save-button {
  display: block;
  width: 100%;
  padding: 15px;
  background: var(--first-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}



/* Styling for the announcement section */
#announcements {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#announcements h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #2d3a3f;
}

.announcement-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.announcement-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.announcement-date {
  font-size: 1.5rem;
  color: var(--first-color);
  font-weight: bold;
}

.announcement-username {
  font-size: 1rem;
  color: #333;
  font-weight: normal;
}

.announcement-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
}


#reservations {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#reservations h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  color: #444;
}

.form-group input, 
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
  color: #444;
}

.form-group textarea {
  height: 100px;
}

.form-group select {
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path d="M0 0l5 5 5-5z" fill="#444" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

#reservations button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#reservations button[type="submit"]:hover {
  background-color: #45a049;
}

#message {
  margin-top: 20px;
  font-size: 16px;
  color: green;
  text-align: center;
}

#message.error {
  color: red;
}

/* For smaller screens */
@media (max-width: 768px) {
  .announcement-box {
      padding: 10px;
  }

  #announcements h1 {
      font-size: 1.5rem;
  }
}

/* Responsive Design */
@media (max-width: 768px) {

  .laboratory-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login__box 
  {
    margin-top: 1rem;
  }

  .logo-mobile
  {
    display: block;
    margin-top: -11rem;
    margin-bottom: 1rem;
  }

  .right-section {
   display: none;
  }

  .system-title {
    font-size: 1.5rem;
  }

  .logo {
    max-width: 150px;
  }
}

@media(max-width: 380px)
{
  .logo {
    max-width: 100px;
  }
}