<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='css/admin.css') }}">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='images/logoadmin.png') }}" type="image/x-icon">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="w3-container flash-message 
            {% if category == 'success' %} success
            {% elif category == 'error' %} error
            {% elif category == 'info' %} info
            {% elif category == 'delete-success' %} delete-success
            {% else %} warning {% endif %}">
                {% if category == 'success' %} <i class="fa fa-check-circle"></i>
                {% elif category == 'error' %} <i class="fa fa-times-circle"></i>
                {% elif category == 'warning' %} <i class="fa fa-exclamation-circle"></i>
                {% elif category == 'delete-success' %} <i class="fa fa-check-circle"></i>
                {% elif category == 'info' %} <i class="fa fa-info-circle"></i> {% endif %}
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

    <div>
        {% block content %}

        {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</body>
</html>