{% extends 'admin/adminbase.html' %}
{% block content %}
<div class="l-form">
    <div class="shape1"></div>
    <div class="shape2"></div>

    <div class="form">
        <img src="{{ url_for('static', filename='images/authentication.png') }}" alt="Logo" class="form__img">
        
        <form action="{{ url_for('admin_login') }}" method="POST" class="form__content">
            <h1 class="form__title">Administrator</h1>
        
            <div class="form__div form__div-one">
                <div class="form__icon">
                    <i class='bx bx-user-circle'></i>
                </div>
                <div class="form__div-input">
                    <label for="username" class="form__label">Username</label>
                    <input type="text" id="username" name="username" class="form__input" required>
                </div>
            </div>
        
            <div class="form__div">
                <div class="form__icon">
                    <i class='bx bx-lock'></i>
                </div>
                <div class="form__div-input">
                    <label for="password" class="form__label">Password</label>
                    <input type="password" id="password" name="password" class="form__input" required>
                </div>
            </div>
            
            <a href="#" class="form__forgot">Forgot Password?</a>
            
            <input type="submit" class="form__button" value="Login">
        </form>
        
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Input handling (focus/blur events)
    const inputs = document.querySelectorAll('.form__input');
    inputs.forEach(input => {
        input.value = '';
        let parent = input.parentNode.parentNode;
        parent.classList.remove("focus");
    });

    const flashMessages = document.querySelectorAll('.flash-message');
    flashMessages.forEach(flashMessage => {
        setTimeout(() => {
            flashMessage.classList.add('fade-out');
        }, 2500);
        flashMessage.addEventListener('animationend', () => {
            flashMessage.remove();
        });
    });

    function addfocus() {
        let parent = this.parentNode.parentNode;
        parent.classList.add("focus");
    }

    function remfocus() {
        let parent = this.parentNode.parentNode;
        if (this.value == "") {
            parent.classList.remove("focus");
        }
    }

    inputs.forEach(input => {
        input.addEventListener("focus", addfocus);
        input.addEventListener("blur", remfocus);
    });
});

</script>

{% endblock %}